.addbox{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #221f1f;
    color:white;
    padding :50px;
    margin:15px 15px;
    border-top: 5px solid #c0392b;
    transition: transform 0.3s ease-in-out;
}
.addbox:hover{
    transform:translateY(-20px)
}
.addbox h1{
   margin-bottom: 15px;
}
